<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://moodle.uni-luebeck.de/theme/image.php/boost_campus_uzl/theme/1671719292/favicon" />
    <title>NIDM-Simulation</title>
    <link href="./../../public/css/genie/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->
    <link href="/css/genie/style.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- Start: Header -->
    <div class="row hero-header">
      <h1 id="main-heading">Networking During Infectious Diseases Model</h1>
    </div>
    <!-- End: Header -->
    <%
      @yield
    %>

    <!-- Start: Footer -->
    <div class="container-fluid footer row footer-credit">
        <div class="col-md-6 col-sm-6">
          <p>Created by <a href="https://github.com/katinka-feltes">Katinka Feltes</a> and
            <a href="https://github.com/hkuswik">Helen Kuswik</a></p>
        </div>
      </div>
    </div>
    <!-- End: Footer -->

  </body>

</html>