/*General*/
body {
	font-family: Tahoma, 'Segoe UI', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
    height: 100%;
}
header {
    background: #184e64;
	padding: 0.75em;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.75em;
	color: #fff;
    height: 20%;
}
main {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    height: 65%;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #525252;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 0.2em;
    height: 3.5%;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}
#footer-text {
    font-size: 13px;
}
/*Typo*/
h1 {
    font-size: 40px;
	font-weight: 500;
}
h3 {
    font-size: 16px
}
#people-settings {
    width: 30%
}
label {
    margin-top: 1em;
}
#timestep-label {
    margin-left: 0.75em;
    margin-right: 0.1em;
}
/*Columns*/
.col {
    display: flex;
    flex-direction: column;
}
.col-param {
    background-color: #e9e9e9;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    padding: 0.75em;
    padding-top: 0em;
    margin-bottom: 0.5em;
}
.col-graph {
    width: 69%
}
.col-params {
    width: 30%
}
.col-values {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0.25em;
}
#health-status {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 10%;;
}
/*Rows*/
.second-row {
    display: flex;
    flex-direction: row;
}
.graph-row {
    display: flex;
    justify-content: row;
    height: 4%;
}
#emptiness-right{
    width: 30%;
}
#emptiness-left{
    display: none;
    width: 27%;
}
#risk-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-row {
    justify-content: left;
    width: 30%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Buttons*/
button {
    border-radius: 8px;
    border-width: 0;
}
.button-step {
    background-color: #184e64;
    color: white;
    width: 100px;
    margin-left: 0.5em;
    margin-right: 0.1em;
}
.button-step:hover {
    background-color: rgba(34, 111, 141, 0.521);
}
.param-buttons {
    background-color: #f7f7f7;
    margin-top: 1em;
    border-color: #d6d6d6;
    border-width: 1.5px;
}
.param-buttons:hover {
    background-color: #EE2c2c;
    color: white;
}
#play-btn {
    justify-content: center;
    background-color: #184e64;
    color: white;
    width: 30px;
}
#play-btn:hover {
    background-color: rgba(34, 111, 141, 0.521);
}
/*Slider*/
input[type="range"] {
    background-color: transparent;
}
.slider-value {
    margin-bottom: 2em;
}
/*Slider - Chrome/Safari*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="range"] {
        -webkit-appearance: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        background-color: darkgrey;
        height: 7px;
        border-radius: 8px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: white;
        margin-top: -4px;
    }
    #sigma-slider::-webkit-slider-runnable-track {  
        background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
    }
    #risk-slider::-webkit-slider-runnable-track {  
        background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
    }
    #c2-slider::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
    }
    #gamma-slider::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
    }
}
/*Slider - FF*/
input[type="range"]::-moz-range-progress {
    background-color: white;
    opacity: 40%;
    height: 8px;
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {  
    background: darkgrey;
    height: 8px;
    border-radius: 5px;
}
input[type="range"]::-moz-range-thumb {  
    background: white;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
}
#sigma-slider::-moz-range-track {  
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
#risk-slider::-moz-range-track {  
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
#c2-slider::-moz-range-track {
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
#gamma-slider::-moz-range-track {
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
/*Graph*/
svg {
    width: 100%;
    height: 100%;
}
/*random*/
#test {
    margin-left: 155px;
}
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 2px;
}
#sus-dot {
    background-color: #A4D3EE;
}
#inf-dot {
    background-color: #EE2c2c;
}
#rec-dot {
    background-color: #8fbc8f;
}
/*Info stuff*/
#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 80%;
    background-color: #EE2c2c;
    opacity: 80%;
    border-radius: 8px;
}
#info-icon {
    color: white;
    margin-right: 0.1em;
}
#infotext {
    color: white;
}
#info-button {
    margin-top: 12px;
    margin-left: 0.25em;
}
#risk-info {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-left: 4px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 11px;
    width: 40%;
    background-color: #EE2c2c;
    opacity: 80%;
    color: white;
    border-radius: 8px;
}