/*General*/
body {
	font-family: Tahoma, 'Segoe UI', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
    height: 100%;
}
header {
    /* display: flex;
    justify-content: center;  if we want it centered*/
    background: #184e64; 
	padding: 0.75em;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.75em;
	color: #fff;
    height: 20%;
}
main {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    height: 70%;
}
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #525252;
    color: #fff;
    padding: 0.3em;
    padding-right: 0.5em;
    height: 9%;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}
#footer-text {
    font-size: 13px;
}
/*Typo*/
h1 {
    font-size: 40px;
	font-weight: 500;
}
h3 {
    font-size: 16px
}
label {
    margin-top: 1em;
}
#timestep-label {
    margin-left: 0.75em;
    margin-right: 0.1em;
}
/*Columns*/
.col {
    display: flex;
    flex-direction: column;
}
.col-param {
    background-color: #e9e9e9;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    padding: 0.75em;
    padding-top: 0em;
    margin-bottom: 0.5em;
}
.col-graph {
    width: 69%
}
.col-params {
    width: 30%
}
/*Rows*/
.second-row {
    display: flex;
    flex-direction: row;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Buttons*/
button {
    border-radius: 8px;
    border-width: 0;
}
.button-step {
    background-color: #184e64;
    color: white;
    width: 155px;
    margin-left: 0.5em;
    border-radius: 5px;
    margin-right: 0.75em;
}
.button-step:hover {
    background-color: rgba(34, 111, 141, 0.521);
}
.param-buttons {
    background-color: #f7f7f7;
    margin-top: 1em;
}
.param-buttons:hover {
    background-color: #EE2c2c;
    color: white;
}
/*Slider*/
input[type="range"] {
    background-color: transparent;
}
.slider-value {
    margin-bottom: 2em;
}
/*Slider - FF*/
input[type="range"]::-moz-range-progress {
    background-color: white;
    opacity: 40%;
    height: 8px;
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {  
    background: darkgrey;
    height: 8px;
    border-radius: 5px;
}
#sigma-slider::-moz-range-track {  
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
#risk-slider::-moz-range-track {  
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
#c2-slider::-moz-range-track {
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
#gamma-slider::-moz-range-track {
    background: linear-gradient(to right, #57b02a, #e3dc44, #ffa860, #ff5c5c);
}
/*Graph*/
svg {
    width: 100%;
    height: 100%;
}
/*random*/
#test {
    margin-left: 155px;
}